﻿@model IF2015.Models.Mahasiswa


<div class="modal-header">
    <h4 class="text-left">Add Mahasiswa</h4>
    <!-- <h4 class="custom-modal-title">Menu</h4> -->
</div>
<form id="frmCreateEdit">
    <input name="id" type="hidden" id="id" value="@Model.id" />
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Nama Mahasiswa</span>
                        <input required asp-for="nama_mahasiswa" name="nama_mahasiswa" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Tangga Lahir</span>
                        <input required asp-for="tanggal_lahir" name="tanggal_lahir" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Jenis Kelamin</span>
                        <input style="margin-left: 10px;" required type="radio" asp-for="jenis_kelamin" name="jenis_kelamin" value="L" /> Pria
                        <input type="radio" asp-for="jenis_kelamin" name="jenis_kelamin" value="P" /> Wanita
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Hobi</span>
                        <select id="hobi" asp-for="id_hobi" name="id_hobi" class="form-control" asp-items="@(new SelectList(ViewBag.Hobi, "id", "nama_hobi"))" required><option value="">--- Select Hobi ---</option></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-info col-lg-12" id="btnSubmit">Save</button>
    </div>
</form>


<script>

    $(document).ready(function () {
        $('#hobi').select2({
            placeholder: "--- Select Hobi ---",
            dropdownParent: $("#CreateEdit")
        });
    })

    $("#frmCreateEdit").on("submit", function (e) {
        e.preventDefault();
        
        $.ajax({
            url: "@Url.Action("CreateEdit","Mahasiswa")",
            type: "POST",
            data: $(this).serialize(),
            success: function (message) {
                if (message == "Saved") {
                    swal("Saved", "Click ok to proceed", "success");
                    tbl_mahasiswa.ajax.reload();
                }
                else if (message == "Updated") {
                    swal("Updated", "Click ok to proceed", "success");
                    tbl_mahasiswa.ajax.reload();
                }
                else {
                    swal({
                        title: "Something Wrong",
                        text: "Something Wrong",
                        type: "error"
                    });
                }
                $("#CreateEdit").modal("hide");
            },
            error: function (data) {
                $("#CreateEdit").modal("hide");
                swal({
                    title: "Error",
                    text: "Error",
                    type: "error"
                });
            }
        });
    });
</script>