﻿@model IF2015.ModelsAPI.HobiAPI


<div class="modal-header">
    <h4 class="text-left">Add HobI API</h4>
    <!-- <h4 class="custom-modal-title">Menu</h4> -->
</div>
<form id="frmCreateEdit">
    <input name="id" type="hidden" id="id" value="@Model.id" />
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Nama Hobi API</span>
                        <input required asp-for="hobby_name" name="hobby_name" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Rating Hobi API</span>
                        <input required asp-for="rating" name="rating" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-info col-lg-12" id="btnSubmit">Save</button>
        </div>
    </div>
</form>


<script>
    $(document).ready(function () {

    })

    $("#frmCreateEdit").on("submit", function (e) {
        e.preventDefault();
        
        $.ajax({
            url: "@Url.Action("CreateEdit","RatingHobby")",
            type: "POST",
            data: $(this).serialize(),
            success: function (message) {
                if (message == "Saved") {
                    swal("Saved", "Click ok to proceed", "success");
                    tbl_RatingHobby.ajax.reload();
                }
                else if (message == "Updated") {
                    swal("Updated", "Click ok to proceed", "success");
                    tbl_RatingHobby.ajax.reload();
                }
                else if (message == "Bad Create") {
                    swal("Something Wrong in API", "CreateHobby API Function", "error");
                    tbl_RatingHobby.ajax.reload();
                }
                else if (message == "Bad Update") {
                    swal("Something Wrong in API", "UpdateHobby API Function", "error");
                    tbl_RatingHobby.ajax.reload();
                }
                else {
                    swal({
                        title: "Something Wrong",
                        text: "Something Wrong",
                        type: "error"
                    });
                }
                $("#CreateEdit").modal("hide");
            },
            error: function (data) {
                $("#CreateEdit").modal("hide");
                swal({
                    title: "Error",
                    text: "Error",
                    type: "error"
                });
            }
        });
    });
</script>