﻿@model IEnumerable<IF2015.ModelsAPI.HobiAPI>

@{
    ViewData["Title"] = "Hobi API";
}

@section tambahan_css_plugins {
    <link href="~/plugins/dropify/dist/css/dropify.min.css" rel="stylesheet" type="text/css" />
    <style>
        table.dataTable thead > tr > th.th-number {
            padding-left: 8px;
            padding-right: 8px;
        }
    </style>
}

<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="well text-center" style="padding: 5px">
                <label>
                    Hobi API
                </label>
            </div>

            <div class="row">
                <div class="col-sm-12 m-b-15">
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#CreateEdit" onclick="CreateEdit(0);">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Hobi API
                    </button>
                </div>
            </div>

            <table class="table table-striped table-responsive" id="tbl_RatingHobby">
                <thead>
                    <tr>
                        <th class="text-center th-number">No.</th>
                        <th class="text-center">Nama Hobi</th>
                        <th class="text-center">Rating Hobby</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div><!-- end col -->
</div>
<!-- end row -->

<div id="CreateEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="divModal">

        </div>
    </div>
</div>

@section tambahan_js {
    <script type="text/javascript">

        function CreateEdit(id)
        {
            if (id == 0) {
                url = "@Url.Action("Create","RatingHobby")";
            }
            else {
                url = "@Url.Action("Edit", "RatingHobby")/" + id;
            }

            $.ajax({
                url: url,
                type: "GET",
                success: function(data){
                    $("#divModal").html(data);
                },
                error: function (data) {
                    alert('Call Admin for help !');
                }
            });
        }

        //Datatable Hobi
        var tbl_RatingHobby = $("#tbl_RatingHobby").DataTable({
            "processing": true, // A boolean property that when enables shows the processing indicator when the table is being processed.
            "serverSide": true, // This property enables server-side processing
            "filter": true, // enables/disables the search bar.
            "ajax": { //used to fetch the data from external sources, in our case, API
                "url": "/RatingHobby/GetRatingHobbyList",
                "type": "POST",
                "datatype": "json"
            },
            "order": [[1, "asc"]],
            "columns": [
                //It is important to use camelCasing while defining the names of the variables.displayName will work.
                //But DisplayName won’t.Quite weird, but that’s how js works.Make sure you follow camelCasing standard while working with js scripts
                { "data": null, "orderable": false, "searchable": false, "sClass": "text-center", "width": "7%" },
                { "data": "hobby_name", "name": "hobby_name", "autoWidth": true },
                { "data": "rating", "name": "rating", "autoWidth": true },
                {
                    "sortable": false,
                    "render": function (data, type, row) {
                        return "<button class='btn btn-info btn-sm' data-toggle='modal' data-target='#CreateEdit' onclick=CreateEdit('" + row.id + "');><i class='fa fa-edit' aria-hidden='true'></i></button><button style='margin-left: 5px;' class='btn btn-sm btn-danger' onclick=deleteData('" + row.id + "'); ><i class='fa fa-trash' aria-hidden='true'></i></button>"
                    }
                },
            ]
        });

        tbl_RatingHobby.on('draw.dt', function () {
            var PageInfo = $('#tbl_RatingHobby').DataTable().page.info();
            tbl_RatingHobby.column(0, { page: 'current' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1 + PageInfo.start;
            });
        });

        function deleteData(id)
        {
            swal({
                title: "Are you sure?",
                text: "Delete this data",
                showCancelButton: true,
                cancelButtonColor: "#c0392b",
                confirmButtonColor: "#c0392b",
                confirmButtonText: "Yes",
                cancelButtonText: 'Cancel',
                animation: true,
                allowEscapeKey: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true,
                html: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("Delete", "RatingHobby")",
                            data: {
                                ID: id
                            },
                            traditional: true,
                            success: function (message) {

                                if (message == "Saved") {
                                    swal("Deleted", "Click ok to proceed", "success");
                                    tbl_RatingHobby.ajax.reload();
                                }
                                else if (message == "Bad Delete") {
                                    swal("Something wrong in API", "DeleteHobby API Function", "error");
                                    tbl_RatingHobby.ajax.reload();
                                }
                                else {
                                    swal({
                                        title: "Something Wrong",
                                        text: "Something Wrong",
                                        type: "error"
                                    });
                                }
                            },
                            error: function (result) {
                                swal({
                                    title: "Error",
                                    text: "Delete error",
                                    type: "error"
                                });
                            }
                        });
                    }
                });

        }
    </script>

}
