<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>               
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="ti-home"></i><span> Master Data </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li class="has_sub">
                            <a href="javascript:void(0);"><i class="ti-server"></i><span> CRUD </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="/Mahasiswa" onclick="javascript:go_tohref();"> Mahasiswa </a></li>
                                <li><a href="/Hobi" onclick="javascript:go_tohref();"> Hobi </a></li>
                            </ul>
                        </li>
                        <li class="has_sub">
                            <a href="javascript:void(0);"><i class="ti-bolt"></i><span> CRUD API </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="/RatingHobby" onclick="javascript:go_tohref();"> Hobi API </a></li>                                
                            </ul>
                        </li>
                    </ul>
                </li>                 
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
