﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        #FormLogout{
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 6px;
            padding-bottom: 6px;
        }

        .notify-bubble {
            @*position: absolute;*@
            left: 5px;
            padding: 4px 8px;
            background-color: red;
            color: white;
            font-size: 10px;
            border-radius: 50%;
            box-shadow: 1px 1px 1px gray;
        }
    </style>

    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <title>@ViewData["Title"]</title>

    <!-- Sweet Alert -->
    <link href="~/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css" />


    @RenderSection("tambahan_css_plugins", required: false)
    <link href="~/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="~/plugins/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="~/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

    
    @if(ViewData["Datatables"] == "ya")
    {
    <!-- DataTables -->
    <link href="~/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/fixedColumns.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    }

    <link href="~/css/rsis.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/progress.min.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="~/js/modernizr.min.js"></script>
</head>
<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">
        <div id="spinner" style="display:none;">
            <img alt="Loading" class="img_loader" src="~/images/preloader.gif" />
        </div>
        <!-- Top Bar Start -->
        <partial name="_Topbar.cshtml" />
        <!-- Top Bar End -->
        <!-- Left Sidebar Start -->
        <partial name="_Left.cshtml" />
        <!-- Left Sidebar End -->


        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">
                    <!--  yield('page_title')
                    yield('isi')-->
                    @RenderBody()
                    <div class="progress" id="PreLoaderBar">
                        <div class="indeterminate">
                        </div>
                    </div>
                </div> <!-- container -->
            </div> <!-- content -->

            <footer class="footer">
                &copy; @DateTime.Now.Year. All rights reserved.
            </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        <!--  Modal content for the above example -->
        <div class="modal fade" id="bs-pelamar-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body" id="isi_html_applicant">
                        ...
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


    </div>
    <!-- END wrapper -->

    <script>
        var resizefunc = [];
    </script>
    <!-- jQuery  -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/detect.js"></script>
    <script src="~/js/fastclick.js"></script>
    <script src="~/js/jquery.slimscroll.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>
    <script src="~/js/waves.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/jquery.nicescroll.js"></script>
    <script src="~/js/jquery.scrollTo.min.js"></script>
    <!-- Sweet-Alert  -->
    <script src="~/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>

    <!-- yield('tambahan_js_plugins') -->
    <script src="~/plugins/moment/moment.js"></script>

    <script src="~/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    @if (ViewData["Datatables"] == "ya")
    {
        <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/plugins/datatables/dataTables.bootstrap.js"></script>
        <script src="~/plugins/datatables/dataTables.fixedColumns.min.js"></script>
        <script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
    }

        <script src="~/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="~/plugins/select2/js/select2.min.js" type="text/javascript"></script>
        <script src="~/plugins/bootstrap-table/js/bootstrap-table.min.js"></script>



        <script src="~/js/progress.min.js"></script>
        <script src="~/js/jquery.core.js"></script>
        <script src="~/js/jquery.app.js"></script>
        <!-- yield('tambahan_js') -->
        @RenderSection("tambahan_js", required: false)



        <script type="text/javascript">

            function go_tohref(status = 'ok') {

                if (status == 'ok') {
                    $('#spinner').show();
                    document.getElementById("PreLoaderBar").style.display = "block";
                } else {

                    swal({
                        title: "Menu ini masih in-progress",
                        type: "warning",
                        showCancelButton: false,
                        confirmButtonClass: 'btn-warning',
                        confirmButtonText: "Ok",
                        closeOnConfirm: false
                    });

                }

            }

            $(function () {
                setInterval(function checkSession() {
                    $.get('/check-session', function (data) {
                        if (data.guest) {
                            swal({
                                title: "Session telah habis, silahkan Login lagi",
                                text: "session telah habis ( 120 menit ), atau sedang ada yang login menggunakan akun anda",
                                type: "warning",
                                showCancelButton: false,
                                confirmButtonClass: 'btn-warning',
                                confirmButtonText: "Ok",
                                closeOnConfirm: false
                            }, function () {
                                location.href = "#";
                            });
                        }
                    });
                }, 60000);
            });
        </script>
    </body>
</html>
